body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#avoid-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.divStyled {
  margin-left: 20rem;
}

.img-cat {
  margin-left: 15rem;
}

.container {
  display: flex;
  justify-self: center;
}

.no {
  width: 120px;
  height: 35px;
  border: none;
  background-color: bisque;
  border-radius: 5px;
  font-size: 20px;
}

.yes {
  width: 120px;
  height: 35px;
  border: none;
  background-color: bisque;
  border-radius: 5px;
  font-size: 20px;
  margin-right: -116px;
  margin-top: 77px;
}

.yes:hover {
  background-color: yellow;
  color: red;
}

.stars {
  width: 120px;
}


body{
  background-color: darkgray;
}